export(CLA)
export(EE)
export(EM)
export(ES)
export(RPT)
export(aggregation)
export(bagging.wrapper)
export(canberra)
export(create.corr.matrix)
export(create.discr.matrix)
export(create.random.matrix)
export(denovo.grid)
export(feature.table)
export(fs.ensembl.stability)
export(fs.stability)
export(jaccard)
export(kuncheva)
export(noise.matrix)
export(ochiai)
export(pairwise.model.stability)
export(pairwise.stability)
export(params)
export(perf.calc)
export(performance.metrics)
export(perm.class)
export(perm.features)
export(pof)
export(sorensen)
export(spearman)
export(svmrfeFeatureRanking)
export(svmrfeFeatureRankingForMulticlass)
import(DiscriMiner)
import(caTools)
import(caret)
import(data.table)
import(e1071)
import(foreach)
import(gbm)
import(glmnet)
import(pamr)
import(plyr)
import(randomForest)
importFrom(permute,shuffle)
